@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --red: #ff5e00;
  --light-red: #f9edeb;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
a {
  text-decoration: none;
}

body {
  background: #f7f7f7;
}

/* =================================================================================================================================================================================================================================================================================================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 1rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #333;
}

header .logo span {
  color: var(--red);
}

header .navbar a {
  color: #333;
  font-size: 2rem;
  padding: 0 1.5rem;
}

header .navbar a:hover {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

header .icons #menu-bars,
header .icons a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 5rem;
  font-size: 2rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  color: var(--red);
  background: var(--light-red);
  text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover {
  background-color: var(--red);
  color: #fff;
}

header .icons #menu-bars {
  display: none;
}

.navbar2{
  background: #fff;
  padding: 2rem 2%;
  display: flex;
  align-items: center;
}

.navbar2 a {
  color: #333;
  font-size: 2rem;
  padding: 0 1.5rem;
}

.navbar2 a:hover{
  color: var(--red);
  border-bottom: 3px solid var(--red);
}


/* =================================================================================================================================================================================================================================================================================================== */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .footer-container {
  background: whitesmoke;
}

.footer .footer-container .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .footer-container .box-container .box {
  flex: 1 1 15rem;
  margin-top: 20px;
  margin-left: 55px;
}

.footer .footer-container .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
  padding: 0.5rem 0;
}

.footer .footer-container .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
}

.footer .footer-container .box-container .box a:hover {
  color: var(--red);
  text-decoration: underline;
}

.footer .footer-container .credit {
  margin-top: 2rem;
  padding: 0.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  text-align: center;
  color: #333;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .footer-container .credit span {
  color: var(--red);
}
/* 
.footer .footer-container {
    margin-bottom: 8rem;
} */

/* =================================================================================================================================================================================================================================================================================================== */

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 1rem;
  }

  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #f7f7f7;
    border-top: 0.1rem solid #333;
    border-bottom: 0.1rem solid #333;
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    background: #fff;
    border: 0.1rem solid #333;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}

/* ================================================================================================================================================================================================================================================================================================= */
.topmargin {
  margin-top: 65px;
}

/* ================================================================================================================================================================================================================================================================================================= */

.login-wrapper {
  height: auto;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.form {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.msgs-contact {
  font-size: 20px;
  padding: 5px 5px;
}
.msgs-contact p {
  text-align: center;
}

.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ffffff;
}
.form .input-group {
  position: relative;
  font-size: 1.5rem;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #000000;
  font-size: 1.5rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #2e77f2;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.forgot-pw {
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: #fff;
  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.formm {
  position: relative;
  width: 70%;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.formm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.formm img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.formm h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ffffff;
}
.formm .input-group {
  position: relative;
}
.formm .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.formm .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.formm .input-group input:focus + label,
.formm .input-group input:valid + label {
  transform: translateY(-18px);
  color: #000000;
  font-size: 1.8rem;
}

/* ================================================================================================================================================================================================================================================================================================= */

.box-cards-blog {
  /* max-width: 1000px; 
   margin: auto; 
   padding: 20px 40px;   */
  max-width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.card {
  margin-bottom: 20px;
  display: flex;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card:hover {
  transition: box-shadow 0.3s ease;
}
.card .card-image {
  width: 30%;
  height: 265px;
}
.card .card-image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}
.card .card-meta {
  width: 70%;
  padding: 1rem;
  flex: 1;
  margin-left: 1rem;
}

.card .card-title {
  font-family: "DM Serif Display", serif;
  font-size: 2.9rem;
  margin: 0px;
  margin-bottom: 1rem;
}
.card .card-title > a {
  display: block;
  color: #081f32;
  text-decoration: none;
}
.card .card-title > a:hover {
  color: #007ae9;
}
.card-desc p {
  font-size: 1.4rem;
}
.card .card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card .card-top .cat {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #6e798c;
  font-size: 1.7rem;
}
.card .card-top .cat:hover {
  color: #007ae9;
}
.card .card-top .date {
  font-size: 1.7rem;
  color: #6e798c;
}
.card .card-bottom {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.card .card-bottom .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.card .card-bottom .avatar img {
  width: 32px;
  height: 32px;
  justify-content: space-between;
}
.author-by {
  color: #6e798c;
  font-weight: 600;
  font-size: 1.6rem;
}
.user {
  display: flex;
  padding: 25px 10px;
}
.card .card-bottom .username {
  color: #6e798c;
  font-weight: 600;
  font-size: 1.6rem;
}
.card .card-bottom .readmore {
  display: block;
  padding: 25px 10px;
  text-decoration: none;
  color: #007ae9;
  font-weight: 600;
  font-size: 2rem;
  transition: transform 0.3s ease;
}
.card .card-bottom .readmore:hover {
  transition: transform 0.3s ease;
  transform: translateX(-10px);
}

/*Responsive*/
@media (max-width: 991px) {
  .box-cards-blog.-grid {
    display: block;
  }
  .box-cards-blog.-grid .card {
    width: 100%;
    display: flex;
  }
  .box-cards-blog.-grid .card .card-image {
    width: 200px;
  }
  .box-cards-blog.-grid .card .card-meta {
    margin-left: 20px;
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .box-cards-blog {
    padding: 20px;
  }
  .card {
    display: block;
  }
  .card .card-image {
    width: 100%;
  }
  .card .card-image img {
    border-radius: 20px;
  }
  .card .card-meta {
    width: 100%;
    margin-left: 0px;
  }
  .box-cards-blog.-grid .card {
    display: block;
  }
  .box-cards-blog.-grid .card .card-image {
    width: 100%;
  }
  .box-cards-blog.-grid .card .card-meta {
    margin-left: 0px;
    margin-top: 1rem;
  }
}

/* ================================================================================================================================================================================================================================================================================================= */

.heading {
  color: #444;
  font-size: 5rem;
  text-align: center;
  padding: 5px 5%;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  align-items: flex-start;
  padding-left: 35px;
}

.container .main-video {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 1050px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.video p {
  font-size: 1.4rem;
}

.container .main-video img {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .title {
  color: #333;
  font-size: 2.9rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-lists {
  background: #f7f7f7;
  border-radius: 5px;
}

.container .video-list {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.container .video-list .vid:hover {
  background: #eee;
}

.Category {
  color: #444;
  font-size: 2.7rem;
  text-align: center;
  padding: 10px;
}

.container .video-list .vid h3 a {
  color: #333;
  font-size: 2rem;
  color: var(--red);
  text-align: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.containersss {
  width: 100%;
  padding: 15px 10px;
}
.containersss h2 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--red);
  font-size: 3rem;
}
textarea {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}
input {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}
.commentbtn {
  font-size: large;
  background-color: var(--red);
  color: wheat;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.one-comment ul li {
  display: inline-block;
  font-size: large;
}
.commentmsg {
  margin-left: 50px;
}

.card-category-1 {
  font-family: sans-serif;
  margin-bottom: 45px;
  text-align: center;
}
.card-category-1 div {
  display: inline-block;
}

.card-category-1 > div:not(:last-child) {
  margin: 10px 5px;
  text-align: left;
}

/*================================================================================================================================================ Basic Card ====================================================================================================================================*/

.basic-card {
  width: 400px;
  position: relative;
}

.basic-card .card-content {
  padding: 10px;
}

.basic-card .card-content img {
  width: 370px;
  height: 200px;
}
.basic-card .card-content h1 {
  font-size: 2.9rem;
  color: #081f32;
}

.basic-card .card-text {
  line-height: 1.6;
  font-size: 1.6rem;
}

.basic-card .card-link {
  padding: 25px;
}

.basic-card-aqua {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  border-radius: 15px;
}

.basic-card .card-link a {
  color: #007ae9;
}
.basic-card .card-link .readmore {
  font-weight: 600;
  font-size: 2rem;
}

.basic-card-aqua .card-link {
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* ================================================================================================================================================================================================================================================================================= */

.simlearpost {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.single-blog .blog-content {
  padding: 8px;
  margin-top: 25px;
  margin-left: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.single-blog .blog-content p{
  font-size: 14.8px;
  font-family: sans-serif;
}
.single-blog .blog-content a{
  font-size: 25.52px;
  font-family: sans-serif;
  font-weight: 800;
  color: #081f32;
}
.single-blog .blog-content .read-more {
  font-size: 1.9rem;
  line-height: 1.85;
  font-family: "Khula", sans-serif;
  font-weight: 700;
  color: #007ae9;
  text-transform: uppercase;
  margin-top: 18px;
  position: relative;
}



/* ================================================================================================================================================================================================================================================================================= */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-size: 2.5rem;
  font-weight: 1000;
  opacity: .5;
}
  
.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: var(--red);
    background-color: #fcfcfa;
  }

  .ourpagesdata{
    font-size: 1.8rem;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #333;
    margin-bottom: 100px;
  }